
.idea/libraries/jfoenix_8_0_8.xml
.DS_Store
.idea/misc.xml
*.iml
*.xml
dependencies/.DS_Store
dependencies/stl-thumb-macos_support/.cargo/config
*.yml
*.yml
dependencies/stl-thumb-macos_support/.cargo/config
dependencies/stl-thumb-macos_support/.travis.yml
dependencies/stl-thumb-macos_support/appveyor.yml
dependencies/stl-thumb-macos_support/benches/cube_benchmark.rs
dependencies/stl-thumb-macos_support/Cargo.toml
dependencies/stl-thumb-macos_support/Cargo.lock
dependencies/stl-thumb-macos_support/LICENSE
dependencies/stl-thumb-macos_support/README.md
dependencies/stl-thumb-macos_support/src/config.rs
dependencies/stl-thumb-macos_support/src/lib.rs
dependencies/stl-thumb-macos_support/src/main.rs
dependencies/stl-thumb-macos_support/src/mesh.rs
dependencies/stl-thumb-macos_support/src/model.frag
dependencies/stl-thumb-macos_support/src/model.vert
dependencies/stl-thumb-macos_support/src/model_macos.frag
dependencies/stl-thumb-macos_support/src/model_macos.vert
dependencies/stl-thumb-macos_support/stl-thumb-mime.xml
dependencies/stl-thumb-macos_support/stl-thumb.thumbnailer
dependencies/stl-thumb-macos_support/test_data/3DBenchy.stl
dependencies/stl-thumb-macos_support/test_data/cube.stl
dependencies/stl-thumb-macos_support/test_data/sphere.stl
out/production/Prodpoint-Order-Application/Application/dark_style.css
out/production/Prodpoint-Order-Application/Application/light_style.css
out/production/Prodpoint-Order-Application/Application/Main.class
out/production/Prodpoint-Order-Application/Application/MainApp/CustomController.class
out/production/Prodpoint-Order-Application/Application/MainApp/customElement.fxml
out/production/Prodpoint-Order-Application/Application/MainApp/main.fxml
out/production/Prodpoint-Order-Application/Application/MainApp/MainController.class
out/production/Prodpoint-Order-Application/Application/MainApp/STLFile.class
out/production/Prodpoint-Order-Application/Application/ProcessingWindow/ProcessingLayout.fxml
out/production/Prodpoint-Order-Application/Application/ProcessingWindow/ProcessingWindowControl$1.class
out/production/Prodpoint-Order-Application/Application/ProcessingWindow/ProcessingWindowControl.class
out/production/Prodpoint-Order-Application/Application/STLProcessor.class
out/production/Prodpoint-Order-Application/Application/Welcome/welcome.fxml
out/production/Prodpoint-Order-Application/Application/Welcome/WelcomeController.class
dependencies/stl-thumb-macos_support/.cargo/config
