
/*
CSS For light theme Prodpoint Application
 */

.root {
    -selected-colour: rgba(0, 147, 255, 0.34);
}

.my-button{
    background: gainsboro;
}

.table-view{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;

}

/* Selected Row*/
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -selected-colour;
    -fx-table-cell-border-color: derive(-selected-colour, 50%);
}


/* Change header font size*/
.table-view .column-header{
    -fx-font-size: 10pt;
}


/* Center items in cells */
.table-cell{
    -fx-alignment: CENTER;
    -fx-font-size: 12pt;
}

.text-field-table-cell{
    -fx-text-alignment: CENTER;
}

.order-info-wrapper{
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.text-field:error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
    -fx-border-radius: 2px;
}

.completed-button {
    -fx-background-color: #00aa00;
    -fx-background-radius: 15;
    -fx-text-fill: black;
    -fx-padding: 5px;
}

.processing-button {
    -fx-background-color: yellow;
    -fx-background-radius: 15;
    -fx-text-fill: black;
    -fx-padding: 5px;
}